<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/style.css">
    <script src="../static/JS/app.js"></script>
    <title>Ecuacion</title>
</head>
<body>
    <h1>Calculo de Ecuacion</h1>
    <fieldset>
        <p>Y = X * Z + Z + X</p>
    </fieldset>
    <br><br>
    <fieldset>
        
        <label for="datox">Ingrese el valor de X</label> <br>
        <input class="datos" type="number" name="dato" id="datox" placeholder="2"> <br>
        
        <label for="datoz">Ingrese el valor de Z</label> <br>
        <input class="datos" type="number" name="dato" id="datoz" placeholder="2"><br><br>
        
        
        <button onclick="calcular()">Calcular</button> <br> <br>
    </fieldset>
    <br><br>
    <fieldset>
        
        <label for="contenido">El resultado de Y es:</label> <br>
        <input type="number" name="dato" id="contenido" placeholder="8" readonly>
    </fieldset>
        
</body>
</html>





















































































